*.dSYM
tags
cscope.out
/test/
/roms/
/vvboy
/doc/virtual_boy.pdf
/*.Gen.hh
/vendor/bsd-libc/getopt.h
/vendor/bsd-libc/tdelete.h
/vendor/bsd-libc/tsearch.h
/vendor/bsd-libc/tfind.h
.depend
/vendor/makeheaders/makeheaders
/.headers-stamp
/trace.out
/cmake-build-*/
/.idea
/.idea.*/
